<div class="jumbotron">
    <div class="container">
        <h1>Learn About Your Local Represenatives</h1>
        <p>Who are your elected officials?</p>
        <br>
        <p>
        <%= link_to 'Search for your Reps', search_path, :class => "btn btn-primary"%>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Footer Info 1</h3>
            <p>Footer information number one goes in this section
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Footer Info 2</h3>
            <p>This is the second spot for footer inforamtion on the homepage
            </p>
        </div>
    </div>
</div>